.user-input input{
  margin: 3px;
  display: block;
  clear: both;

}

.desc{
  margin: 3px;
  margin-top: 20px;
}

.user-input{
  margin-top: 30px;
}

.main-content{
  margin-left:10px;
}
.nav > li > a{
  padding: 10px 35px;
}

.up-vote-num, .down-vote-num{
    margin-right: 2%;
}

.comment-author{
  margin-right: 2%;
}

.login, .user-input, .register{
  margin-top: 30px;
}

.pleaseLogin{
  padding-bottom: 5px;
}
