.user-input input{
  margin: 3px;
  display: block;
  clear: both;

}

.user-input{
  margin-top: 30px;
}

.main-content{
  margin-left:10px;
}


.up-vote-num, .down-vote-num{
    margin-right: 2%;
}
