.main-content{
  font-size:20px;
}


.glyphicon-thumbs-up, .glyphicon-thumbs-down{
  cursor:pointer;
}

.comment-body{
  /*border: 2px solid blue;*/
  display: inline-block;
  width: 200px;
  padding-left: 10%;
  margin-bottom: 2%;
  vertical-align: text-top;

}


body, nav a, body a{
  background-color: #36454f;
  color: #ccc !important;
}

a:hover, a:active{
  color: white !important;
  text-decoration: none !important;
}

a:visited, a:focus{
  text-decoration: none !important;
}

nav.navbar-default{
  background-color: #36454f !important;
}


/*
.nav > ul > li * a:hover, .navbar * a{
  color: white !important;
}


body > nav > ul > li:nth-child(3) > a{
  color:white !important;
}*/



.comment-container{
  border: 2px white solid;
  margin-bottom: 2%;
}


/*//FONTS//*/
.page-header, .page-header h1{
  /*font-family: 'Qwigley', cursive;*/
  font-family: 'Kurale', serif;
  /*font-family: 'Almendra SC', serif;*/
  /*font-family: 'Teko', sans-serif;*/
  /*font-family: 'Elsie Swash Caps', cursive;*/
  /*font-family: 'Roboto Slab', serif;*/
  font-size: 60px !important;
  /*letter-spacing: 2px !important;*/
}

ui-view{
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  /*font-family: 'Teko', sans-serif;*/
  /*font-family: 'Elsie Swash Caps', cursive;*/
}

.desc, p{
  font-size: 150%;
}
/*font-family: 'Qwigley', cursive;
font-family: 'Kurale', serif;
font-family: 'Almendra SC', serif;
font-family: 'Teko', sans-serif;
font-family: 'Elsie Swash Caps', cursive;
font-family: 'New Rocker', cursive;
font-family: 'Roboto Slab', serif;*/

.underlined{
  text-decoration: underline !important;
}
