.main-content{
  font-size:20px;
}


.glyphicon-thumbs-up, .glyphicon-thumbs-down{
  cursor:pointer;
}

.comment-body{
  border: 2px solid blue;
  display: inline-block;
  width: 200px;
  padding-left: 10%;
}
